@font-face {
    font-family: 'header'; /* name of the font */
    src: url('fonts/JosefinSans-Regular.ttf') format('truetype'); /* path to the font file and format */
}

@font-face {
    font-family: 'normal'; /* name of the font */
    src: url('fonts/Lato-Regular.ttf') format('truetype'); /* path to the font file and format */
}

.icon {
    width: 100px;
    height: 100px;
    margin-right: 20px; /* add right margin */
  }

/* General styles */
body {
    font-family: 'normal', sans-serif;
    margin: 0;
    background-color: white;
}
  
/* Header styles */
header {
    background-color: rgba(223,32,39);
    position: fixed; /* fixed position */
    top: 0; /* stick to the top of the screen */
    left: 0; /* stick to the left of the screen */
    width: 100%; /* take up the full width of the screen */
    z-index: 1; /* ensures the header stays on top of other elements */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Adds shadow behind the header */
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 50px; /* Space between the links */
}

nav ul li a {
    text-decoration: none;
    color: white; 
    font-size: 18px;
    font-family: 'header', sans-serif; 
}

/* Pseudo-element for the border */
nav ul li a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust based on the distance from the link text */
    width: 0; /* Initial width is 0 */
    height: 2px; /* Height of the border */
    background-color: white; /* White border */
    transition: width 0.3s ease-in-out; /* Smooth transition for the hover effect */
}

/* Hover effect */
nav ul li a:hover::after {
    width: 100%; /* Expands to match the width of the text */
}

.border-bottom {
    position: absolute;
    bottom: 0; /* position the border at the bottom of the block */
    left: 0; /* align the border with the left edge of the block */
    width: 100%; /* make the border span the entire width of the block */
    height: 20px; /* set the height of the border */
    background-color: #000; /* set the color of the border */
}

.footer {
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-family: 'header', sans-serif;
    color: rgb(255, 255, 255);
}